
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #58b9e6, #e9049d);
    color: #fff;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background: #2e2e2e;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 400px;
}


#kimenet {
    grid-column: span 4;
    padding: 15px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    background: #444;
    color: #fff;
    text-align: right;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
}


.gomb {
    padding: 15px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background: #555;
    color: #fff;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.gomb:hover {
    background: #666;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.opergomb {
    background-color: rgb(204, 152, 7);
}
.opergomb:hover {
    background-color: rgb(139, 104, 5);
}

#egyenlo {
    background: #6A5ACD;
    color: #fff;
}

#egyenlo:hover {
    background: #7B68EE;
}

#torol, #vissza {
    background: #E74C3C;
}

#torol:hover, #vissza:hover {
    background: #b1190e;
}


@media (max-width: 768px) {
    #kimenet {
        font-size: 1.2rem;
    }

    .gomb {
        font-size: 1rem;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .grid-container {
        gap: 8px;
        padding: 15px;
    }

    #kimenet {
        padding: 10px;
    }

    .gomb {
        padding: 8px;
        font-size: 0.9rem;
    }
}
